@{
    ViewBag.Title = "insc";
}
@model aaa.Models.Biby

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <div>Nom Biby</div>
        <div>
            @Html.EditorFor(model =>model.NomBiby)
            @Html.ValidationMessageFor(model =>model.NomBiby)
        </div>
        <div>Nom Biby</div>
        <div>
            @Html.EditorFor(model =>model.isa)
            @Html.ValidationMessageFor(model =>model.isa)
        </div>
        <p>
            <input type="submit" value="valider" />
        </p>
    </fieldset>
}